.img-recensioni{
    width: 100%;
    
    background-size: cover;
}

.sfondo{
    background-color: #22b3c1;
}

.paddingLeft{
    margin-left: 60%;
}

/* ANIMAZIONI */

.animazione{
    animation: fadeIn;
    animation-delay: 300ms;
    animation-duration: 300ms;
    animation-fill-mode: both;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}